body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.left-side,
.right-side {
    padding: 20px;
}

.left-side {
    flex: 2;
}

.right-side {
    flex: 3;
    text-align: center;
}

#clock-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#date,
#time {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
}

#second {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}