
#clock-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 60%;
    font-family: "Orbitron";
    padding: .5rem;
    color: white;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgba(255, 255, 255, 0.16);
}

#date
{
    font-weight: 1.5rem;
    text-align: left;
    font-size: 1.5em;
    margin: .5rem;
}

#hour, #minute, #second {
    font-weight: 600;
    font-size: 2.5rem;
}
#year {
    font-size: 1.6rem;
}

#month, #day {
    font-size: 2.5rem;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}